<% include partials/header %>
	<div class="row" id="hide-new">
		<div class="col-md-6 col-md-offset-3">
			<h1>New Item</h1>
			<form action="/todos" method="POST" id="new-form">
				<div class="form-group">
					<label>Item Text</label>
					<input type="text" name="todo[text]" class="form-control">
				</div>
				<button class="btn btn-primary">Create Item</button>
			</form>
		</div>
	</div>
	<div style="text-align:center;">
		<button class="btn btn-success btn-lg new-button" >New ToDo Item</button>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>To Do Items</h1>
			<ul class="list-group">
			<% todos.forEach(function(todo){ %>
				<div class="row" id="hide">
					<div class="col-md-6 col-md-offset-3">
						<h1>Edit Item</h1>
						<form action="/todos/<%=todo._id%>" method="POST" class="edit-form">
							<div class="form-group">
								<label>Item Text</label>
								<input type="text" value="<%= todo.text %>" name="todo[text]" class="form-control">
							</div>
							<button class="btn btn-primary">Update Item</button>
						</form>
					</div>
				</div>
				<li class="list-group-item">
					<span class="lead">
						<%= todo.text %>
					</span>
					<div class="pull-right">
						<button class="toggle-edit btn btn-warning btn-sm">Edit</button>
						<form style="display: inline" class="delete-form" method="POST" action="/todos/<%= todo._id %>" >
							<button type="submit" class="btn btn-sm btn-danger delete-butt">Delete</button>
						</form>
					</div>
					<div class="clearfix"></div>
				</li>
			<% }); %>
			</ul>
		</div>
	</div>

<% include partials/footer %>


